<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- service路径 -->
	<context:component-scan base-package="com.renren.gota.webserver.service" />
	<context:component-scan base-package="com.renren.gota.webserver.dao" />




	<!-- 线上库数据源配置 -->
	<!--<bean id="xceAdapter" class="com.xiaonei.xce.XceAdapter" init-method="getInstance" 
		/> <bean id="test_lbs_dataSource" factory-bean="xceAdapter" factory-method="getWriteDataSource" 
		> <constructor-arg value="test_lbs" /> </bean> -->

	<!-- 测试库 -->
	<bean id="dataSource.gota_base"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/gtoa?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-conf.xml" />
		<property name="dataSource" ref="dataSource.gota_base" />
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.renren.gota.webserver.dao" />
		<property name="sqlSessionFactoryBeanName" value="sessionFactory" />
		<property name="annotationClass"
			value="com.renren.gota.webserver.dao.annotation.DataSourceBase" />
	</bean>

	<!-- transaction support -->
	<!-- PlatformTransactionMnager -->
	<!-- <bean id="txManagerWaltzBase" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
		<property name="dataSource" ref="dataSource.waltz_base" /> </bean> -->
	<!-- enable transaction annotation support -->
	<!-- <tx:annotation-driven transaction-manager="txManagerWaltzBase" /> -->





</beans>
